## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
-- return top 100 results
select top 100 book_id, authors, title, average_rating
from booksDB.dbo.books
order by average_rating ASC

Question 2: Write a query to find the least popular book.

In [ ]:
select top 100 book_id, authors, title, average_rating
from booksDB.dbo.books
order by average_rating ASC

In [ ]:
-- return least popular book

Question 3: Which tag is the most popular?

In [ ]:
select *
From BooksDB.dbo.book_tags
--the most popular tag is 30574, count 167697

Question 4: What is the name of the most popular tag?

In [ ]:
--30574

Question 5: How many books where released in the first decade of 2000?

In [ ]:

--3594 books released in the first decade
SELECT COUNT(books_count)
FROM Booksdb.dbo.books
WHERE original_publication_year >= 2000 and original_publication_year <= 2010;

Question 6: How many book titles contain the word, "happy"?

In [ ]:

select count (title)
from booksdb.dbo.books
Where title like '%Happy%'
--13 titles

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
select authors, title, average_rating
from booksDB.dbo.books
where authors = 'j.k.rowling' OR authors = 'bill watterson' OR authors = 'brandon sanderson'
ORDER BY title ASC, average_rating DESC

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
select authors
from BooksDB.dbo.books
where authors BETWEEN 'rock' and 'roll'
--there are 25 authors with names between "rock" and "roll"

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
Wht is the best book?
select best_book_id, title, authors, average_rating
from BooksDB.dbo.books
--"The Hunger Games" by Suzanne Collins is the "best book"

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
which author has the most titles published?
SELECT authors, COUNT(*) AS title_count
FROM BooksDB.dbo.books
GROUP BY authors
HAVING COUNT(*) >= 5
ORDER BY title_count DESC
--Stephen King has 60 published titles!

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?