# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE household.planned_mistakes (
    RecipeNames varchar(50),
    Chores varchar(75)
    AppointmentDates date
)

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO household.planned_mistakes (RecipeNames, Chores, AppointmentDates)
VALUES ("Pizza', 'Vacuum floors', 10/22/2025');
    ( 'Tacos', 'dusting', 10/24/20250)
    ('Spaghetti, 'laundry', 10/25/2025))

## Update a Row

Change different values in one of your three rows.

In [ ]:
Update household.planned_mistakes
set chores = mopping
where RecipeNames = 'Spaghetti'

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM household.planned_mistakes
WHERE RecipeName = 'Pizza'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE household.planned_mistakes