# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [6]:
# import pandas
import pandas as pd

# create your data variabe using .read_csv 
df = pd.read_csv('IMDB-Movie-Data.csv')
# create your data_indexed variable here
data_indexed = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Title')

In [7]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [8]:
# Read data with specified explicit index

print(data_indexed)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [9]:
# Use the head() function to view the first 5 rows of the data set
df.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [10]:
# Use the tail() function to view the last 5 rows of the data set

df.tail(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [11]:
# The info() function: 
df.info()
#This shows us all the different types of information, or columns, that we will be looking at with each particular film in the list.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [ ]:
# shape:
df = pd.read_csv('IMDB-Movie-Data.csv')
print(df.shape)
# what information does shape provide?  what is the order?
#The shape tells us how many rows of data we have and how many columns of data we have for each row. This returned (1000, 12). 
#This tells us that we have 1000 different rows, and 12 columns of data

(1000, 12)

In [ ]:
# columns:
print(df.columns)

# what information does columns provide?
#This tells us what type of information on each row(movie) we have: "Rank", "Title", "Genre", "Description", "Director", "Actor", "Year", "Runtime", "Rating", "Votes", "Revenue", "Metascore".

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
# The describe() function: 
df.describe()
#This tells us the statistical information about the data in the data frame.

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [42]:
#  Extract data as series
# define and print the variable 'genre'
genre = df["Genre"]
print(type(genre))

<class 'pandas.core.series.Series'>

In [48]:
# Extract the data as a dataframe and print it
genre_df = df[["Genre"]]
print(type(genre_df))
print(genre_df)

<class 'pandas.core.frame.DataFrame'>
                        Genre
0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
..                        ...
995       Crime,Drama,Mystery
996                    Horror
997       Drama,Music,Romance
998          Adventure,Comedy
999     Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [ ]:
# Extract data using rows
df.loc[0]
df.loc[0:5]
print(df.loc[[0, 5, 10]])
# loc function
#the loc function allows you to extract a row by its title or label in a dataframe.

    Rank                                    Title                     Genre  \
0      1                  Guardians of the Galaxy   Action,Adventure,Sci-Fi
5      6                           The Great Wall  Action,Adventure,Fantasy
10    11  Fantastic Beasts and Where to Find Them  Adventure,Family,Fantasy

                                          Description     Director  \
0   A group of intergalactic criminals are forced ...   James Gunn
5   European mercenaries searching for black powde...  Yimou Zhang
10  The adventures of writer Newt Scamander in New...  David Yates

                                               Actors  Year  \
0   Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
5       Matt Damon, Tian Jing, Willem Dafoe, Andy Lau  2016
10  Eddie Redmayne, Katherine Waterston, Alison Su...  2016

    Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                 121     8.1  757074              333.13       76.0
5                 103     6.1   56036               45.13       42.0
10                133     7.5  232072              234.02       66.0

In [ ]:
# iloc function
df.iloc[0:5]
#.iloc allows you to pull information out of a dataframe with its indexed or specific row number within a dataframe. The "i" is for index

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

### 5. Data Selection - Based on Conditional Filtering

In [ ]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
filtered_movies = df[(df["Year"] >= 2010) &
(df["Year"] <= 2016) &
(df["Rating"] < 6.0)]

filtered_movies_sorted = filtered_movies.sort_values("Revenue (Millions)", ascending = False)
print(filtered_movies_sorted)

     Rank                                      Title                    Genre  \
941   942                 The Twilight Saga: Eclipse  Adventure,Drama,Fantasy
366   367  The Twilight Saga: Breaking Dawn - Part 2  Adventure,Drama,Fantasy
925   926  The Twilight Saga: Breaking Dawn - Part 1  Adventure,Drama,Fantasy
126   127            Transformers: Age of Extinction  Action,Adventure,Sci-Fi
657   658               Teenage Mutant Ninja Turtles  Action,Adventure,Comedy
..    ...                                        ...                      ...
932   933                                 The Ticket                    Drama
942   943                                 Transpecos                 Thriller
968   969                                    Wrecker   Action,Horror,Thriller
977   978                              Amateur Night                   Comedy
998   999                               Search Party         Adventure,Comedy

                                           Description            Director  \
941  As a string of mysterious killings grips Seatt...         David Slade
366  After the birth of Renesmee, the Cullens gathe...         Bill Condon
925  The Quileutes close in on expecting parents Ed...         Bill Condon
126  Autobots must escape sight from a bounty hunte...         Michael Bay
657  When a kingpin threatens New York City, a grou...  Jonathan Liebesman
..                                                 ...                 ...
932  A blind man who regains his vision finds himse...            Ido Fluk
942  For three Border Patrol agents working a remot...         Greg Kwedar
968  Best friends Emily and Lesley go on a road tri...      Micheal Bafaro
977  Guy Carter is an award-winning graduate studen...        Lisa Addario
998  A pair of friends embark on a mission to reuni...      Scot Armstrong

                                                Actors  Year  \
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
366  Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
126  Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...  2014
657  Megan Fox, Will Arnett, William Fichtner, Noel...  2014
..                                                 ...   ...
932  Dan Stevens, Malin Akerman, Oliver Platt, Kerr...  2016
942  Johnny Simmons, Gabriel Luna, Clifton Collins ...  2016
968  Anna Hutchison, Andrea Whitburn, Jennifer Koen...  2015
977  Jason Biggs, Janet Montgomery,Ashley Tisdale, ...  2016
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
941                124     4.9  192740              300.52       58.0
366                115     5.5  194329              292.30       52.0
925                117     4.9  190244              281.28       45.0
126                165     5.7  255483              245.43       32.0
657                101     5.9  178527              190.87       31.0
..                 ...     ...     ...                 ...        ...
932                 97     5.4     924                 NaN       52.0
942                 86     5.8    1292                 NaN       73.0
968                 83     3.5    1210                 NaN       37.0
977                 92     5.0    2229                 NaN       38.0
998                 93     5.6    4881                 NaN       22.0

[160 rows x 12 columns]

In [ ]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

#print(filtered_movies_sorted[["Title", "Year", "Rating", "Revenue (Millions)"]].head(10))
filtered_movies = df[(df["Year"] >= 2010) &
(df["Year"] <= 2016) &
(df["Rating"] < 6.0) &
(df["Revenue (Millions)"] >= df["Revenue (Millions)"].quantile(0.98))]

print(filtered_movies_sorted[["Title", "Year", "Rating", "Revenue (Millions)"]])


##I am not sure how to return information with quantile. I am changing the value of the quantile and it returns all of the information?

                                         Title  Year  Rating  \
941                 The Twilight Saga: Eclipse  2010     4.9
366  The Twilight Saga: Breaking Dawn - Part 2  2012     5.5
925  The Twilight Saga: Breaking Dawn - Part 1  2011     4.9
126            Transformers: Age of Extinction  2014     5.7
657               Teenage Mutant Ninja Turtles  2014     5.9
..                                         ...   ...     ...
932                                 The Ticket  2016     5.4
942                                 Transpecos  2016     5.8
968                                    Wrecker  2015     3.5
977                              Amateur Night  2016     5.0
998                               Search Party  2014     5.6

     Revenue (Millions)
941              300.52
366              292.30
925              281.28
126              245.43
657              190.87
..                  ...
932                 NaN
942                 NaN
968                 NaN
977                 NaN
998                 NaN

[160 rows x 4 columns]